{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>CricBuzz</title>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  {%block content%}

  {% endblock %}
  </div>
  </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
    function showDropdown() {
      if ($("#myDropdown").css('display') == 'block') {
        $("#myDropdown").hide();
      } else {
        $("#myDropdown").show();
      }
    }

  </script>
  <script>    function showNext() {
      if ($(".shownext").css('visibility') == 'hidden') {
        $(".showlive").css('visibility', 'hidden');
        $(".shownext").css('visibility', 'visible');
        $(".showlast").css('visibility', 'hidden');
      }
    }</script>
  <script> function showLast() {
      if ($(".showlast").css('visibility') == 'hidden') {
        $(".showlive").css('visibility', 'hidden');
        $(".shownext").css('visibility', 'hidden');
        $(".showlast").css('visibility', 'visible');
      }
    }</script>
  <script>function showLive() {
      if ($(".showlive").css('visibility') == 'hidden') {
        $(".showlive").css('visibility', 'visible');
        $(".shownext").css('visibility', 'hidden');
        $(".showlast").css('visibility', 'hidden');
      }
      console.log("dkfm");

    }
  </script>
</body>

</html>