{% extends 'base.html' %}
{% block content %}

<head>
  <style>
    nav {
      background-color: #880102;
    }

    .hero-image {
      background-image: url("http://wallpaperheart.com/wp-content/uploads/2018/03/iStock-Cricket-wallpaper.jpg");
      background-color: #cccccc;
      height: 400px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }

    .hero-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: black;
      font-size: 50px;
      font-family: generic-family;
      text-align: right:;
      ;

    }

    .navbar-header a.navbar-brand {
      width: 100%;
      font-size: 20px;
      font-weight: bold;
    }

    .dropbtn {
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {

      position: absolute;
      min-width: 160px;
      overflow: auto;
      /*box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);*/
      z-index: 1;
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <p style="font-size: 35px; font-family: oblique;color:white">CricBuzz</p>
        </a>
      </div>
    </div>
  </nav>
  <div class="hero-image">
    <!--<div class="hero-text">
        <p style="font-family: generic-family;font-size:50px; padding: 100px; margin-top: 100px">CricBuzz live Score</p>-->
  </div>
  </div>
  <nav class="navbar navbar-inverse" style="background-color:#1C261C;border:none;border-radius:none">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#" style="color:#fff;background-color: transparent;">Cricbuzz</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#" style="color:#fff;background-color: transparent;font-weight: bold;">Home</a></li>
        <!---- <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Matches <span
              class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Live</a></li>
            <li><a href="#">Next</a></li>
            <li><a href="#">Last</a></li>
          </ul>
        </li>-->
        <li><a href="#" style="color:#fff;background-color: transparent;font-weight: bold;">About Developer</a></li>

      </ul>
    </div>
  </nav>

  <div class="container-fluid">
    <!-- button start -->
    <div class="row">
      <div class="col-md-4">
        <a onclick="showLive()" style="font-size:20px;font-weight:bold; font-family: auto;color:black;">Live Score</a>
      </div>
      <div class="col-md-4">
        <a onclick="showNext()" style="font-size:20px;font-weight:bold;font-family: auto;color:black;">Next Score</a>
      </div>
      <div class="col-md-4">
        <a onclick="showLast()" style="font-size:20px;font-weight:bold;font-family: auto;color:black;"> Last Score</a>
      </div>
    </div>
    <!-- button end -->
    <div class="row">
      <!-- data show start -->
      <div class="col-md-4 showlive" style="visibility:visible">
        {%for data in live%}
        <p style="padding-left: 30px;"> {{data.type}},{{data.mnum}},{{data.start_time}}</p>
        <p style="padding-left: 30px; font-family: oblique">{{data.start_time}},{{data.type}},{{data.mnum}}</p>
        <p style="padding-left: 30px; font-family: oblique">{{data.venue_name}},{{data.venue_location}}</p>
        <div class="col-sm-4">
          <p style="padding-left: 30px;font-family: oblique ">{{data.status}}</p>
        </div>
        {% endfor %}
      </div>
      <div style="visibility:hidden" class="col-md-4 shownext">

        {%for data in next%}
        <p style="padding-left: 30px;"> {{data.type}},{{data.mnum}},{{data.start_time}}</p>
        <p style="padding-left: 30px; font-family: oblique">{{data.start_time}},{{data.type}},{{data.mnum}}</p>
        <p style="padding-left: 30px; font-family: oblique">{{data.venue_name}},{{data.venue_location}}</p>
        <div class="col-sm-4">
          <p style="padding-left: 30px;font-family: oblique ">{{data.status}}</p>
        </div>
        {% endfor %}
      </div>
      <div class="col-md-4 showlast" style="visibility:hidden">

        {%for data in last%}
        <p style="padding-left: 30px;"> {{data.type}},{{data.mnum}},{{data.start_time}}</p>
        <p style="padding-left: 30px; font-family: oblique">{{data.start_time}},{{data.type}},{{data.mnum}}</p>
        <p style="padding-left: 30px; font-family: oblique">{{data.venue_name}},{{data.venue_location}}</p>
        <div class="col-sm-4">
          <p style="padding-left: 30px;font-family: oblique ">{{data.status}}</p>
        </div>
        {% endfor %}
      </div>
      <!-- data show end -->
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <p style="font-size: 20px; font-weight: bold;font-family: oblique ;margin-top:40px;"> Live Score</p>
      </div>
      <div class="col-md-3">
        <p style="font-size: 20px;font-weight: bold;font-family: oblique;margin-top:40px;">ScoreCard</p>
      </div>
      <div class="col-md-3">
        <p style="font-size: 20px;font-weight: bold;font-family: oblique;margin-top:40px;">Full Commentary</p>
      </div>
      <div class="col-md-3">
        <p style="font-size: 20px;font-weight: bold;font-family: oblique;margin-top:40px;">News</p>
      </div>
    </div>
  </div>
  </div>
  <!-- footer -->
  <footer style="background-color:#3a494e;color:#fff;margin-top: 30px;margin-bottom: 10px;min-height: 160px;">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <a href="#">
            <p style="font-size: 20px; font-weight: bold;font-family: oblique ;margin-top:40px;color:#fff">About Us</p>
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <p style="font-size: 20px;font-weight: bold;font-family: oblique;margin-top:40px;color:#fff">Contact Us</p>
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <p style="font-size: 20px;font-weight: bold;font-family: oblique;margin-top:40px;color:#fff">Follow Us On
            </p>
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <p style="font-size: 20px;font-weight: bold;font-family: oblique;margin-top:40px;color:#fff">Privacy Policy
            </p>
          </a>
        </div>
        <div class="col-md-4">
          <a href="#">
            <p style="font-size: 20px;font-weight: bold;font-family: oblique;margin-top:40px;color:#fff">Terms &
              Conditions</p>
          </a>
        </div>
      </div>
    </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      <p style="font-size: 18px;font-family: auto;margin-top: 15px;text-align: center;"> © Copyright 2020, Cricbuzz, All
        Rights Reserved </p>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- end of footer -->
</body>

{% endblock %}